html, body{
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin-top: 1rem;
    padding: 1rem;
}

#imageForm {
    padding: 0.5rem;
    margin: 1rem;
}

.inputDiv {
    display: flex;
    flex-direction: row;
}

.result h4 {
    padding: 0.5rem;
    margin: 0.5rem;
}

h3{
    font-size: 1.6em;
    font-weight: 500;
}

h2 {
    font-size: 1.2em;
}

p {
    font-size: 0.8em;
}

img {
    width: 30%;
    height: auto;
}